@model duanwebsite.Data.KhachHang

@{
    ViewData["Title"] = "Chi tiết khách hàng";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<h1>Chi tiết khách hàng</h1>

<div>
    <h4>Thông tin khách hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Mật khẩu</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class="col-sm-2">Họ và tên</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class="col-sm-2">Giới tính</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class="col-sm-2">Ngày sinh</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class="col-sm-2">Điện thoại</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">Hình ảnh</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dt class="col-sm-2">Hiệu lực</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HieuLuc)
        </dd>
        <dt class="col-sm-2">Vai trò</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VaiTro)
        </dd>
        <dt class="col-sm-2">Khóa ngẫu nhiên</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RandomKey)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MaKh">Chỉnh sửa</a> |
    <a class="btn btn-danger" asp-action="Index">Quay lại danh sách</a>
</div>
@section Styles {
    <link href="~/css/admin.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
}
