@model IEnumerable<duanwebsite.ViewModels.HangHoaVM>

@{
	ViewData["Title"] = "Index";
	Layout = "_DanhSachHangHoa";
}

<!-- Single Page Header start -->
@section BreadCum {
	<div class="container-fluid page-header py-5">
		<h1 class="text-center text-white display-6">Shop</h1>
		<ol class="breadcrumb justify-content-center mb-0">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Pages</a></li>
			<li class="breadcrumb-item active text-white">Shop</li>
		</ol>
	</div>
}
<!-- Single Page Header End -->

@await Html.PartialAsync("ProductItem", Model)
<div class="col-12">
	<div class="pagination d-flex justify-content-center mt-5">
		<a href="@Url.Action("Index", new { loai = ViewBag.Loai, page = (int)ViewBag.CurrentPage - 1 })" class="rounded @(ViewBag.CurrentPage == 1 ? "disabled" : "")">&laquo;</a>

		@for (int i = 1; i <= (int)ViewBag.TotalPages; i++)
		{
			<a href="@Url.Action("Index", new { loai = ViewBag.Loai, page = i })" class="rounded @(ViewBag.CurrentPage == i ? "active" : "")">@i</a>
		}

		<a href="@Url.Action("Index", new { loai = ViewBag.Loai, page = (int)ViewBag.CurrentPage + 1 })" class="rounded @(ViewBag.CurrentPage == (int)ViewBag.TotalPages ? "disabled" : "")">&raquo;</a>
	</div>
</div>
