@model duanwebsite.Data.HoaDon

@{
    ViewData["Title"] = "Chi tiết hóa đơn";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ngày đặt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDat)
        </dd>
        <dt class = "col-sm-2">
            Ngày cần
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCan)
        </dd>
        <dt class = "col-sm-2">
            Ngày giao
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>
        <dt class = "col-sm-2">
           Họ Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoTen)
        </dd>
        <dt class = "col-sm-2">
           Địa chỉ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            Điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienThoai)
        </dd>
        <dt class = "col-sm-2">
            Cách thanh toán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachThanhToan)
        </dd>
        <dt class = "col-sm-2">
            Cách vận chuyển
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CachVanChuyen)
        </dd>
        <dt class = "col-sm-2">
            Phí vận chuyển
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhiVanChuyen)
        </dd>
        <dt class = "col-sm-2">
            Ghi chú
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            Mã khách hàng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
        <dt class = "col-sm-2">
            Nhân viên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNvNavigation.HoTen)
        </dd>
        <dt class="col-sm-2">
            Trạng thái
        </dt>
        <dd class="col-sm-10">
            @switch (Model.MaTrangThaiNavigation.MaTrangThai)
            {
                case -1:
                    <button class="btn btn-danger">Khách hàng đã hủy đơn</button>
                    break;
                case 0:
                    <button class="btn btn-secondary">Mới đặt hàng</button>
                    break;
                case 1:
                    <button class="btn btn-primary">Đã thanh toán</button>
                    break;
                case 2:
                    <button class="btn btn-warning">Chờ giao hàng</button>
                    break;
                case 3:
                    <button class="btn btn-success">Đã giao hàng</button>
                    break;
                default:
                    <button class="btn btn-dark">Không xác định</button>
                    break;
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.MaHd">Edit</a> |
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
@section Styles {
    <link  href="~/css/admin.css" rel="stylesheet" />
    <script src="~/js/scripts.js"></script>
}